.collaborator-conteiner{
    position: relative;
    background-color: var(--white);
    margin: 1.4rem;
    padding-top: 3.2rem;
    padding-bottom: 2.7rem;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.08);
    min-width: 40%;
}
@media (min-width: 768px ) {
    .collaborator-conteiner{
        width: 20%;
        min-width: 20%;
    }
}
.close_icon{
    position: absolute;
    right: -0.5rem;
    top: -0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    transition: all;
    transition-duration: 300ms;
}
.close_icon:hover{
    cursor: pointer;
    color: red;
    transition: all;
    transition-duration: 300ms;
}
.collaborator_img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;

}
.collaborator_name{
    color: var(--azulMarino);
    font-size: 1.8rem;
    width: 600;
    margin-bottom: 0;
}
.collaborator_job{
    margin-top: .9rem;
    color: var(--oscuro);
    font-size: 1.6rem;
    font-weight: 400;
}
.collaborator_color{
    position: absolute;
    background-color: #57C278;
    height: 37%;
    width: 100%;
    top: 0;
    z-index: -1;
    border-radius: 10px 10px 0px 0px;
}