:root{
  --azulMarino: #6278F7;
  --acua: #95FFD4;
  --grisClaro: #F6F6F6;
  --white: #FFFF;
  --gris: #AFAFAF; 
  --oscuro: rgb(21,21,21);
  --hover: #95FFD4;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}